In [ ]:
#List: 순서있다, 수정가능
#tuple 순서있다, 수정불가능
#dictionary: 순서 없다, 수정가능

In [4]:
alist = [1,2,3,4,5]
alist[0] = 99

#slicing이용...값이 대체
alist[1:3] = [88,77,66]

#slicing이용이 아닌 경우...list안에 list
alist[4] = [55,44,33]

alist

[99, 88, 77, 66, [55, 44, 33], 5]

In [11]:
atuple = (1,2,3,4,5)
#값 변경 불가능.
#atuple[0] = 99

a, *b = (1,2,3,4,5)
print(a, b)

1 [2, 3, 4, 5]

In [20]:
adict = { 'name':'kim', 'age':29 }
adict.keys()
adict.items()

adict['name'] = 'yang' #수정
adict['name2'] = 'Lee' #추가

for key, val in adict.items():
    print(key, '-->', val)

name --> yang
age --> 29
name2 --> Lee

<a href = "http://www.naver.com" 
    style = 'color:red;font-size:30px'>사이트 이동</a>

In [43]:
song = """저 오늘 떠나요 공항으로
핸드폰 꺼 놔요 제발 날 찾진 말아줘
시끄럽게 소리를 질러도 어쩔 수 없어 나
가볍게 손을 흔들며 bye bye-

쉬지 않고 빛났던 꿈같은 my youth
이리저리 치이고 또 망가질 때쯤
지쳤어 나 미쳤어 나 떠날 거야 다 비켜
I fly away-

Take me to London Paris New York city들
아름다운 이 도시에 빠져서 나
Like I'm a bird bird 날아다니는 새처럼
난 자유롭게 fly fly 나 숨을 셔

Take me to new world anywhere 어디든
답답한 이 곳을 벗어 나기만 하면
Shining light light 빛나는 my youth
자유롭게 fly fly 나 숨을 셔"""

from collections import Counter

alist = song.split(" ")
cnt = Counter(alist)
cnt.most_common(5)

[('fly', 5), ('나', 4), ('my', 2), ('me', 2), ('to', 2)]

In [31]:
import re
text = "에러 1122 : 레퍼런스 오류\n 에러 1033: 아규먼트 오류"
regex = re.compile("에러 1033")
mo = regex.search(text)
if mo != None:
    print(mo.group())

에러 1033

In [52]:
import re
 
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."
 
regex = re.compile(r'(?P<area>\d{3})-(?P<num1>\d{3,4})-(?P<num2>\d{4})')
matchobj = regex.search(text)
phonenumber = matchobj.group()
print(phonenumber) 

print(matchobj.group(1))
print(matchobj.group(2))
print(matchobj.group(3))

#이름부여
print(matchobj.group("area"))
print(matchobj.group("num1"))
print(matchobj.group("num2"))

032-232-3245
032
232
3245
032
232
3245

In [104]:
# [] : 선택
# | : or
s = re.sub("[\n|\'|\"|-]", " ", song)
alist = s.split(" ")
# "" 제거
blist = [word for word in alist if len(word) > 0]
ant = Counter(blist)
ant.most_common(5)

[('나', 6), ('fly', 5), ('bye', 2), ('my', 2), ('youth', 2)]

In [105]:
Counter(blist)['제발']

1

In [107]:
#set(집합): 순서업다, 중복없다, (=primary key)
aset = {"커피", "차", "과일", "커피"}
aset

{'과일', '차', '커피'}

In [115]:
#중복제거
set('abcdabcdabcdabcdabcdabcdabcd')
set([1,2,3,4,5] * 3)
tuple(set((1,2,3,4,5) * 3))

#딕셔너리 키값 추출
set({'boy':'소년', 'school':'학교', 'book':'책'})

#키는 중복 불가, dict에서 키가 같은 경우 나중 값이 추출
set({'name':'kim', 'name':'park', 'age':30})

{'age', 'name'}

In [131]:
try:
    a = {1,2,3,4,5}
    #원소 1개 추가
    a.add(6)
    #원소 여러개 추가
    a.update({7,8,9})
    #원소 삭제
    a.discard(3) #해당 item 없으면 무시
    a.remove(2)  #해당 item 없으면 error
    print(a)
    a.clear()
    print(a)
except:
    print("remove 함수는 없는 값을 지울 수 없다.")
finally:
    print("end")

{1, 4, 5, 6, 7, 8, 9}
set()
end

In [132]:
a = {2,4,6,8,10}
b = {3,6,9,12,15}

print("교집합:", a&b)
print(a.intersection(b))

print("배타적 차집합:", a^b)
print(a.symmetric_difference(b))

교집합: {6}
{6}
배타적 차집합: {2, 3, 4, 8, 9, 10, 12, 15}
{2, 3, 4, 8, 9, 10, 12, 15}

In [136]:
strs= ['A', 'B', 'C']
#enumerate() - 원소와 해당 원소의 index반환
for idx, str in enumerate(strs):
    print(idx, str)

0 A
1 B
2 C

In [139]:
list(enumerate(range(10,51,10)))

[(0, 10), (1, 20), (2, 30), (3, 40), (4, 50)]

In [148]:
a = [1,2,3]
b = ["일","이","삼"]
list(zip(a,b))
tuple(zip(a,b))
set(zip(a,b))
dict(zip(b,a))

for i in zip(a,b):
    print(i)

(1, '일')
(2, '이')
(3, '삼')

In [163]:
a = [1,2,3]
b = ["일","이","삼"]
[ i for i in zip(a,b) ] #list
{ i for i in zip(a,b) } #set
{ i:v for i,v in zip(a,b) if i==2} #dict

{2: '이'}

In [154]:
{ i[0]:i[1] for i in zip(a,b) }

{1: '일', 2: '이', 3: '삼'}

In [170]:
#함수(function) : 코드재사용 용이
#1. 내장함수
chr(65)
abs(-10)
a = 10
dir(a)
b = '멀티캠퍼스'
dir(b)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [172]:
def add(a,b):
    return a+b

def mul(a,b):
    return a*b


add(10, 20)
mul(10, 20)

200

In [185]:
def compute(a,b):
    add = a+b
    div = a/b
    mul = a*b
    sub = a-b
    return add, div, mul, sub

add, div, mul, sub = compute(10, 5)
print(add, div, mul, sub)

15 2.0 50 5

In [186]:
def compute(*num):
    add = num[0] + num[1]
    div = num[0] / num[1]
    mul = num[0] * num[1]
    sub = num[0] - num[1]
    return add, div, mul, sub

add, div, mul, sub = compute(*[10, 5])
print(add, div, mul, sub)

15 2.0 50 5

In [196]:
#가변인자: 0개 이상, 맨 뒤 하나만 가능
def compute(first, *args):
    print(first)
    print(args)
    print('-'*50)

compute(1)
compute(1,2,3,4)

1
()
--------------------------------------------------
1
(2, 3, 4)
--------------------------------------------------

In [220]:
def my_range(end, start=1, step=1):
    alist = []
    for i in range(start, end + 1, step):
        alist.append(i)
    return alist

my_range(10)
my_range(start=2, step=2, end=10)

[2, 4, 6, 8, 10]

In [224]:
a = 10
b = 20
print("{} + {} = {}".format(a,b,a+b))
print("{2} = {1} + {0}".format(a,b,a+b))
print("{c} = {b} + {a}".format(a=10, b=20, c=a+b))

10 + 20 = 30
30 = 20 + 10
30 = 20 + 10

In [228]:
def compute(**args):
    alist = []
    for i in range(args['start'], args['end'], args['step']):
        alist.append(i)
    return alist

d = {'start':1, 'end':10, 'step':2}
compute(**d)

compute(start=2, step=2, end=10)

[2, 4, 6, 8]

In [231]:
def test(**args):
    for key, val in args.items():
        print(key , '-->', val)

test(**d)

start --> 1
end --> 10
step --> 2

In [235]:
def my_print(cnt):
    if cnt == 0: return
    print('Hello, world!', cnt)
    cnt -= 1
    my_print(cnt)
    
my_print(10)

Hello, world! 10
Hello, world! 9
Hello, world! 8
Hello, world! 7
Hello, world! 6
Hello, world! 5
Hello, world! 4
Hello, world! 3
Hello, world! 2
Hello, world! 1

In [237]:
#factorial (ex) 5! = 5*4*3*2*1
def factorial(n):
    if n == 1: return 1
    return n * factorial(n-1)

print(factorial(5))

120

In [239]:
def plus10(x):
    return x+10

plus10(15)

In [243]:
f = lambda x: x+10
f(5)

15

In [244]:
(lambda x: x+10)(5)

15

In [245]:
(lambda a, b: a+b)(1,3)

4

In [251]:
import operator
f = operator.add
f(1,2)

3

In [257]:
list(map(operator.add, [10,20,30],[2,5,3]))

[12, 25, 33]

In [263]:
list(map(plus10, [20,2,40]))

[30, 12, 50]

In [265]:
list(map(lambda x:x+100, [10,203]))

[110, 303]

In [273]:
alist = ['python', 'java', 'node.js']
blist = []
def char3(s):
    for i in s:
        blist.append(i[:3])
    return blist

print(char3(alist))

#컴프리핸션
[ i[:3] for i in  alist]

#람다함수
list(map(lambda x: x[:3], alist))

['pyt', 'jav', 'nod']

['pyt', 'jav', 'nod']

In [12]:
#리스트 nums를 3으로 나눈 나머지 구하기(lambda)
nums = [10,4,7,20,6,8]
res = list(map(lambda x:x % 3 , nums))

nums.sort(key = lambda x:x % 3)
nums.sort(key = lambda x:(x % 3, x))
nums

[6, 4, 7, 10, 8, 20]

In [21]:
nums = list(range(1, 11))
nums.sort(reverse = True)

f = lambda x : str(x) if x%3 == 0 else x
list(map(f , nums))

[10, '9', 8, 7, '6', 5, 4, '3', 2, 1]

In [23]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

list(map(lambda x,y: x*y, a, b))

[6, 14, 24, 36, 50]

In [31]:
a = ['가', '나', '다', '', '', '바']
[res for res in a if len(res) > 0]

['가', '나', '다', '바']

In [32]:
list(filter(None, a))

['가', '나', '다', '바']

In [37]:
list(filter(lambda x : len(x)>0, a))

['가', '나', '다', '바']

In [40]:
x = [10, 4, 35, 22, 12, 8]

list(filter(lambda x: x >= 10 and x <= 20, x))

[10, 12]

In [50]:
s = 'abvf234GSsdgh'
list(s)
"".join(list(filter(lambda x: x.isupper() ,s)))

'GS'

In [51]:
a = [1, 2, 3, 4, 5]
from functools import reduce
reduce(lambda x, y: x + y, a)

15

In [67]:
#전역변수(global)
price = 1000
def func():
    #print("전역변수 사용:",price)
    price = 2000
    print("지역변수 사용:",price)

func()
print("전역변수 사용:",price)

전역변수 사용: 1000
지역변수 사용: 2000
전역변수 사용: 2000

In [82]:
#전역변수(global)
price = 1000
def func(cc):
    """변수의 범위 알아보기"""
    global price #이 문장때문에 global, 없으면 local
    aa = 100
    bb = 200
    price = 2000
    print("함수내에서 global변수 사용:",price)
    print(locals()['cc'])

func(300)
print("전역변수 사용:",price)

help(func)
func.__doc__
func.__code__.co_argcount
func.__code__.co_nlocals
func.__code__.co_varnames

함수내에서 global변수 사용: 2000
300
전역변수 사용: 2000
Help on function func in module __main__:

func(cc)
    변수의 범위 알아보기

('cc', 'aa', 'bb')

In [85]:
def calc():
    total = 0
    def add(a, b):
        nonlocal total  # 바깥 함수의 지역 변수 사용 설정
        total = total + a + b
        print(total)
        
    add(10, 20)
    add(30, 40)
        
calc()

30
100

In [95]:
#클로저: 지역변수는 함수가 끝나면 자동으로 제거된다.
#하지만 지역변수를 유지하여 다른 곳에서 사용하고자 한다.
#지역변수를 담은 함수를 리턴
#사용 중인 변수는 사라지지 않음을 이용한다.

def calc():
    a = 10
    b = 20
    def mul_add(x):
        return a + b + x
    return mul_add
    
c = calc()
c(100)

130

In [120]:
cnt = 99

def makeCounter():
    cnt = 0
    def counter():
        #이 함수 밖의 함수의 변수
        nonlocal cnt
        cnt += 1
        return cnt
    
    return counter

test1 = makeCounter()
print(test1())
print(test1())
print(test1())
print(test1())
print(test1())
test2 = makeCounter()
print(test2())
print(test2())
print(test2())
print(test2())
print(test2())

1
2
3
4
5
1
2
3
4
5