In [14]:
#5. 직원을 나타내는 클래스 Employee를 작성해보자. 
#직원은 이름(name)과 월급(salary)을 가지고 있고 
#전체 직원의 수는 클래스 변수인 empCount에 저장된다.

#class - object만드는 틀
#object - class를 이용해서 만든 독랍된 객체
#instance - 실체 (Memory Load)

class Car:
    pass
    #속성(변수)
    #행위(메소드)
    
class Employee:
    empCount = 0
    #생성자: 생성시 실행되는 메소드
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        Employee.empCount += 1
        
    @staticmethod
    def getCount():
        return Employee.empCount
    
    @classmethod
    def getCount2(cls):
        return cls.empCount

In [16]:
emp1 = Employee("홍길동", 300)
emp2 = Employee("김철수", 500)
emp3 = Employee("이영희", 500)
emp4 = Employee("김태희", 700)

#Employee.empCount
#Employee.getCount()
Employee.getCount2()

8

In [29]:
#예외처리 - 실행시 오류 발생하면 프로그램 중단
#중단없이 계속 정상 종료되도록.. 
#업무로직과 예외처리로직이 섞이는 것은 바람직하지 않음
#강제발생도 가능:raise
#반드시 해야하는 작업:finally

s = "89점"
alist = [1,2,3,4,5]

try:    
    a = 10/0
    
    print("5번째 값:", alist[5])
    score = int(s)
    
except ValueError:
    print("문자를 숫자로 변경불가")
except IndexError:
    print('잘못된 인덱스 사용')
except:
    print("기타 예외")

기타 예외

In [35]:
#사용자가 고의적으로 예외 발생

def calcSum(num):
    if num < 0:
        raise ValueError
    sum = 0
    for i in range(num+1):
        sum += i
        
    return sum
    
try:
    print(calcSum(10))
    print(calcSum(-1))
    
except ValueError:
    print("매개변수로 음수 불가")
    
finally:
    print("자원을 정리하는 자원, 오류발생 여부와 상관없이 반드시 발생")

55
매개변수로 음수 불가
자원을 정리하는 자원, 오류발생 여부와 상관없이 반드시 발생

In [49]:
#반복자(iterable object)
alist = [10,20,30,40,50]
it = iter(alist)
while True:
    try:
        print(next(it))
    except StopIteration:
        print("자료가 더이상 없다")
        break

10
20
30
40
50
자료가 더이상 없다

In [50]:
for i in alist:
    print(i)

10
20
30
40
50

In [55]:
class MyCollection:
    def __init__(self, n):
        self.size = n
        self.data = list(range(1, self.size + 1))
    
    def __iter__(self):
        self.index = 0
        print("iter함수 호출")
        return self  #객체 자체를 return한다. 
    
    def __next__(self):
        print("next함수 호출")
        if self.index >= self.size:
            raise StopIteration
        n = self.data[self.index]
        self.index += 1
        return n
    
coll = MyCollection(6)
for x in coll:
    print(x)

iter함수 호출
next함수 호출
1
next함수 호출
2
next함수 호출
3
next함수 호출
4
next함수 호출
5
next함수 호출
6
next함수 호출

In [52]:
class MyIterator:
    def __init__(self, str):
        self.index = 0
        self.str= str
    def __iter__(self):
        return self
    def __next__(self):
        if self.index >= len(self.str):
            raise StopIteration
        s = self.str[self.index]
        self.index += 1
        return s

for s in MyIterator("ABCDEFG"):
    print(s)

A
B
C
D
E
F
G

In [66]:
def gen():
    yield 1
    yield 10
    yield 100

g = gen()
next(g)
next(g)
next(g)

for data in gen():
    print(data)

1
10
100

In [67]:
[i*i for i in range(10)] #list로 지금 만든다.

g = (i*i for i in range(10)) #generator object로 만들고
         #요청하면 (next()) yield로 정의된 값 1개 return

In [75]:
next(g)

49

In [76]:
list(g)

[64, 81]

In [78]:
def inner():
    print("inner함수입니다.")

def outer(func):
    def wrapper():
        print("-" * 20)
        func()
        print("-" * 20)
    return wrapper

r = outer(inner)
r()

--------------------
inner함수입니다.
--------------------

In [80]:
def outer(func):
    def wrapper():
        print("-" * 20)
        func()
        print("-" * 20)
    return wrapper

#나는 outer에서 사용되는 함수이다.
@outer
def inner():
    print("inner함수입니다.")

inner()

--------------------
inner함수입니다.
--------------------

In [101]:
def mydeco(f):
    def wrapper():
        return "<p> {} </p>".format(f())
    return wrapper

@mydeco
def myname():
    return "김상형"

@mydeco
def myage():
    return 29

print(myname())
print(myage())

<p> 김상형 </p>
<p> 29 </p>

In [267]:
def my_deco(f):
    def wrapper(*args, **args2):
        return "결과는 {}".format(f(*args, **args2)) 
    return wrapper

@my_deco
def hello(name, age, major):
    return "{}님 안녕하세요. {}, {}".format(name, age, major)

@my_deco
def hello2(name, age):
    return "{}님 안녕하세요. {}".format(name, age)

hello("김상형", 29, "컴공")
hello2("김상형", 29)

hello2("김상형", age = 29)

'결과는 김상형님 안녕하세요. 29'

In [270]:
s = '1+2-3'
eval(s)

0

In [275]:
s = '[0,1,2,3,4]'
eval(s)[0]

0

In [283]:
s = 'korea'
korea = 100

print(str(s))
repr(s) #expression으로 만든다.

eval(repr(s))

korea

'korea'

In [ ]:
#파일입출력

In [286]:
import os

os.mkdir("./myfiles")

FileExistsError: [WinError 183] 파일이 이미 있으므로 만들 수 없습니다: './myfiles'

In [292]:
fs = open("./myfiles/test1.txt", 'wt')
fs.write("파일을 연다.\n")
fs.write("파일에 쓴다.\n")
fs.write("파일을 닫는다.\n")
fs.close() #꼭 파일을 닫아준다!!!!

In [293]:
fs = open("./myfiles/test1.txt", 'at')
fs.write("파일2을 연다.\n")
fs.write("파일2에 쓴다.\n")
fs.write("파일2을 닫는다.\n")
fs.close()

In [295]:
with open("./myfiles/test1.txt", 'at') as fs:
    fs.write("파일2을 연다.\n")
    fs.write("파일2에 쓴다.\n")
    fs.write("파일2을 닫는다.\n")

In [297]:
with open("./myfiles/test1.txt", 'r') as fs:
    print(fs.read())

파일을 연다.
파일에 쓴다.
파일을 닫는다.
파일2을 연다.
파일2에 쓴다.
파일2을 닫는다.
파일2을 연다.
파일2에 쓴다.
파일2을 닫는다.

In [303]:
import re

text = "에러 304 에러 404 : not found \n 에러 500: 프로그램 오류"
# \s:공백 
# []:선택
# \d:[0-9]
# *:0개이상
# +:1개이상
regex = re.compile("에러\s[45]\d+") #패턴화
mc = regex.findall(text)
print(mc)

['에러 404', '에러 500']

In [336]:
# 읽어온 페이지에서 링크 추출하기
# <a>..</a> 태그만 추출하기로 한다.
from urllib.request import urlopen

root = 'https://docs.python.org/3.7/howto/regex.html'
f = urlopen(root)
html = f.read()

import re

shtml = html.decode() # 바이트 열을 문자열로 전환. utf-8
hrefs = re.findall('<a href="(.+\.html)".*>.+</a>', shtml)    
# href 안에 있는 내용만 추출한다. 
#.html로 끝나는 링크만 찾아낸다.

hrefs

['../index.html',
 'index.html',
 '../contents.html',
 '../bugs.html',
 '../index.html',
 'index.html',
 '../copyright.html',
 '../bugs.html']

In [359]:
from urllib.parse  import urljoin

for ref in hrefs:
    print(urljoin(root, ref))

urls = [urljoin(root, ref) for ref in hrefs]
#중복제거
urls = list(set(urls))
urls

https://docs.python.org/3.7/index.html
https://docs.python.org/3.7/howto/index.html
https://docs.python.org/3.7/contents.html
https://docs.python.org/3.7/bugs.html
https://docs.python.org/3.7/index.html
https://docs.python.org/3.7/howto/index.html
https://docs.python.org/3.7/copyright.html
https://docs.python.org/3.7/bugs.html

['https://docs.python.org/3.7/copyright.html',
 'https://docs.python.org/3.7/contents.html',
 'https://docs.python.org/3.7/howto/index.html',
 'https://docs.python.org/3.7/index.html',
 'https://docs.python.org/3.7/bugs.html']

In [353]:
# 경로 분리 테스트
from urllib.parse import urlsplit

res = urlsplit('http://docs.python.org/copyright.html')
print (res)
print("-----------------------------")
print (res.path)

SplitResult(scheme='http', netloc='docs.python.org', path='/copyright.html', query='', fragment='')
-----------------------------
/copyright.html

In [361]:
from urllib.parse import urlsplit

for url in urls:
    print(urlsplit(url).path)

/3.7/copyright.html
/3.7/contents.html
/3.7/howto/index.html
/3.7/index.html
/3.7/bugs.html

In [364]:
import os,  re   
from urllib.request import urlopen
from urllib.parse import urljoin

def savePage(root):
    fpath = urlsplit(root).path[1:] #첫번째 슬래쉬제거 
    html = urlopen(root).read()
    shtml = html.decode()
    folder, fname = os.path.split(fpath) # 2/howto
    if not os.path.exists(folder):  # 필요하다면 디렉토리를 생성한다.
        os.makedirs(folder)
    print ('saving..', fpath)
    open(fpath, 'w', encoding="utf-8").write(shtml)
    return shtml

root = 'https://docs.python.org/3.7/howto/regex.html'
shtml = savePage(root)

hrefs = re.findall('<a href="(.*\.html)".*>.+</a>', shtml) 

# href 안에 있는 내용만 추출한다. .html로 끝나는 링크만 찾아낸다.
full_refs = list(set([urljoin(root, ref) for ref in hrefs]))
for ref in full_refs:
    shtml = savePage(ref)

saving.. 3.7/howto/regex.html
saving.. 3.7/copyright.html
saving.. 3.7/contents.html
saving.. 3.7/howto/index.html
saving.. 3.7/index.html
saving.. 3.7/bugs.html

In [369]:
#sqlite -- 경량 db, python에 내장
import sqlite3

dbname = 'multicampus.db'
#1. db연결
conn = sqlite3.connect(dbname)
#2. db사용 (dml)
cur = conn.cursor() #db와 소통하는 통로
sql = 'create table if not exists student ( name , major )'
cur.execute(sql)

sql = 'insert into student values ("신진호", "컴공")'
cur.execute(sql)
conn.commit()
#3. db연결 해제
conn.close()

In [370]:
#sqlite -- 경량 db, python에 내장
import sqlite3

dbname = 'multicampus.db'
#1. db연결
conn = sqlite3.connect(dbname)
#2. db사용 (dml)
cur = conn.cursor() #db와 소통하는 통로
alist = [("정해천","경영"),("김유진","통계"),("안광남","영상")]

sql = 'insert into student values (?, ?)' #binding변수
cur.executemany(sql, alist)
conn.commit()
#3. db연결 해제
conn.close()

In [378]:
import sqlite3

dbname = 'multicampus.db'
#1. db연결
conn = sqlite3.connect(dbname)
#2. db사용 (dml)
cur = conn.cursor() #db와 소통하는 통로

sql = 'select * from student'
cur.execute(sql)

for row in cur:
    print(row)
    
conn.commit()
#3. db연결 해제
conn.close()

('신진호', '컴공')
('정해천', '경영')
('김유진', '통계')
('안광남', '영상')
('강보성', '수학')

In [403]:
import cx_Oracle

conn = cx_Oracle.connect("scott_join/tiger@localhost:1521/xe")
cur = conn.cursor()
sql = "select * from customers"
cur.execute(sql)
for row in cur:
    print(row)
    
conn.close()

(100, '김고객', '서울시 종로구 동숭동', '03084', 'kys@abc.com', '010-3232-5423', 'M', datetime.datetime(2010, 10, 22, 0, 0))
(110, '이고객', '서울시 강남구 논현동', '06038', 'ljh@abc.com', '010-7623-1328', 'F', datetime.datetime(2011, 11, 2, 0, 0))
(120, '박고객', '경기도 광명시 광명동', '14204', 'lhj@abc.com', '010-3232-5423', 'M', datetime.datetime(2016, 3, 7, 0, 0))
(130, '장고객', '경기도 군포시 광정동', '15843', 'oym@abc.com', '010-939-2000', 'F', datetime.datetime(2014, 8, 22, 0, 0))
(140, '주고객', '서울시 노원구 공릉동', '01796', 'jjy@abc.com', '010-510-5500', 'F', datetime.datetime(2010, 2, 12, 0, 0))
(150, '최고객', '경상남도 거제시 거제면', '53285', 'cmr@abc.com', '010-3258-6800', 'F', datetime.datetime(2011, 10, 21, 0, 0))
(160, '오고객', '전라북도 남원시 금동', '55769', 'kwj@abc.com', '010-9832-5522', 'M', datetime.datetime(2009, 6, 28, 0, 0))
(170, '우고객', '서울시 광진구 광장동', '04965', 'bsp@abc.com', '010-3001-1177', 'M', datetime.datetime(2004, 5, 3, 0, 0))
(180, '조고객', '서울시 구로구 고척동', '08240', 'luj@abc.com', '010-4123-9876', 'M', datetime.datetime(2002, 5, 29, 0, 0))

In [29]:
import cx_Oracle

conn = cx_Oracle.connect("hr/hr@localhost:1521/xe")
cur = conn.cursor()

#hr계정에서 급여가 10000이상이고 입사일이 2002년 이후인 직원
sql = """select * from employees
          where salary >= 10000 and to_char(hire_date, 'yyyy') >= '2002'"""

cur.execute(sql)
for row in cur:
    print(row)

conn.close()

(100, 'Steven', 'King', 'SKING', '515.123.4567', datetime.datetime(2003, 6, 17, 0, 0), 'AD_PRES', 24000.0, None, None, 90)
(101, 'Neena', 'Kochhar', 'NKOCHHAR', '515.123.4568', datetime.datetime(2005, 9, 21, 0, 0), 'AD_VP', 17000.0, None, 100, 90)
(108, 'Nancy', 'Greenberg', 'NGREENBE', '515.124.4569', datetime.datetime(2002, 8, 17, 0, 0), 'FI_MGR', 12008.0, None, 101, 100)
(114, 'Den', 'Raphaely', 'DRAPHEAL', '515.127.4561', datetime.datetime(2002, 12, 7, 0, 0), 'PU_MAN', 11000.0, None, 100, 30)
(145, 'John', 'Russell', 'JRUSSEL', '011.44.1344.429268', datetime.datetime(2004, 10, 1, 0, 0), 'SA_MAN', 14000.0, 0.4, 100, 80)
(146, 'Karen', 'Partners', 'KPARTNER', '011.44.1344.467268', datetime.datetime(2005, 1, 5, 0, 0), 'SA_MAN', 13500.0, 0.3, 100, 80)
(147, 'Alberto', 'Errazuriz', 'AERRAZUR', '011.44.1344.429278', datetime.datetime(2005, 3, 10, 0, 0), 'SA_MAN', 12000.0, 0.3, 100, 80)
(148, 'Gerald', 'Cambrault', 'GCAMBRAU', '011.44.1344.619268', datetime.datetime(2007, 10, 15, 0, 0), 'SA_MAN', 11000.0, 0.3, 100, 80)
(149, 'Eleni', 'Zlotkey', 'EZLOTKEY', '011.44.1344.429018', datetime.datetime(2008, 1, 29, 0, 0), 'SA_MAN', 10500.0, 0.2, 100, 80)
(150, 'Peter', 'Tucker', 'PTUCKER', '011.44.1344.129268', datetime.datetime(2005, 1, 30, 0, 0), 'SA_REP', 10000.0, 0.3, 145, 80)
(156, 'Janette', 'King', 'JKING', '011.44.1345.429268', datetime.datetime(2004, 1, 30, 0, 0), 'SA_REP', 10000.0, 0.35, 146, 80)
(162, 'Clara', 'Vishney', 'CVISHNEY', '011.44.1346.129268', datetime.datetime(2005, 11, 11, 0, 0), 'SA_REP', 10500.0, 0.25, 147, 80)
(168, 'Lisa', 'Ozer', 'LOZER', '011.44.1343.929268', datetime.datetime(2005, 3, 11, 0, 0), 'SA_REP', 11500.0, 0.25, 148, 80)
(169, 'Harrison', 'Bloom', 'HBLOOM', '011.44.1343.829268', datetime.datetime(2006, 3, 23, 0, 0), 'SA_REP', 10000.0, 0.2, 148, 80)
(174, 'Ellen', 'Abel', 'EABEL', '011.44.1644.429267', datetime.datetime(2004, 5, 11, 0, 0), 'SA_REP', 11000.0, 0.3, 149, 80)
(201, 'Michael', 'Hartstein', 'MHARTSTE', '515.123.5555', datetime.datetime(2004, 2, 17, 0, 0), 'MK_MAN', 13000.0, None, 100, 20)
(204, 'Hermann', 'Baer', 'HBAER', '515.123.8888', datetime.datetime(2002, 6, 7, 0, 0), 'PR_REP', 10000.0, None, 101, 70)
(205, 'Shelley', 'Higgins', 'SHIGGINS', '515.123.8080', datetime.datetime(2002, 6, 7, 0, 0), 'AC_MGR', 12008.0, None, 101, 110)

In [18]:
import cx_Oracle
import pandas

conn = cx_Oracle.connect("hr/hr@localhost:1521/xe")

#hr계정에서 급여가 10000이상이고 입사일이 2002년 이후인 직원
sql = """select * from employees
         where salary >= 10000 and hire_date >= '2002/01/01'"""

df = pandas.read_sql(sql, conn)

conn.close()
df

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,2003-06-17,AD_PRES,24000.0,NaN,NaN,90
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,2005-09-21,AD_VP,17000.0,NaN,100.0,90
2,108,Nancy,Greenberg,NGREENBE,515.124.4569,2002-08-17,FI_MGR,12008.0,NaN,101.0,100
3,114,Den,Raphaely,DRAPHEAL,515.127.4561,2002-12-07,PU_MAN,11000.0,NaN,100.0,30
4,145,John,Russell,JRUSSEL,011.44.1344.429268,2004-10-01,SA_MAN,14000.0,0.40,100.0,80
5,146,Karen,Partners,KPARTNER,011.44.1344.467268,2005-01-05,SA_MAN,13500.0,0.30,100.0,80
6,147,Alberto,Errazuriz,AERRAZUR,011.44.1344.429278,2005-03-10,SA_MAN,12000.0,0.30,100.0,80
7,148,Gerald,Cambrault,GCAMBRAU,011.44.1344.619268,2007-10-15,SA_MAN,11000.0,0.30,100.0,80
8,149,Eleni,Zlotkey,EZLOTKEY,011.44.1344.429018,2008-01-29,SA_MAN,10500.0,0.20,100.0,80
9,150,Peter,Tucker,PTUCKER,011.44.1344.129268,2005-01-30,SA_REP,10000.0,0.30,145.0,80
10,156,Janette,King,JKING,011.44.1345.429268,2004-01-30,SA_REP,10000.0,0.35,146.0,80
11,162,Clara,Vishney,CVISHNEY,011.44.1346.129268,2005-11-11,SA_REP,10500.0,0.25,147.0,80
12,168,Lisa,Ozer,LOZER,011.44.1343.929268,2005-03-11,SA_REP,11500.0,0.25,148.0,80
13,169,Harrison,Bloom,HBLOOM,011.44.1343.829268,2006-03-23,SA_REP,10000.0,0.20,148.0,80
14,174,Ellen,Abel,EABEL,011.44.1644.429267,2004-05-11,SA_REP,11000.0,0.30,149.0,80
15,201,Michael,Hartstein,MHARTSTE,515.123.5555,2004-02-17,MK_MAN,13000.0,NaN,100.0,20
16,204,Hermann,Baer,HBAER,515.123.8888,2002-06-07,PR_REP,10000.0,NaN,101.0,70
17,205,Shelley,Higgins,SHIGGINS,515.123.8080,2002-06-07,AC_MGR,12008.0,NaN,101.0,110

In [2]:
#command창에서 acivate된 환경에 설치한다.
!pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/6e/f6/7c5053cd6cae3ae099f4f950b9a5b4cb881432febdf2184f4b2d2d6de357/pandas-0.25.0-cp36-cp36m-win_amd64.whl (9.0MB)
Collecting pytz>=2017.2 (from pandas)
  Downloading https://files.pythonhosted.org/packages/87/76/46d697698a143e05f77bec5a526bf4e56a0be61d63425b68f4ba553b51f2/pytz-2019.2-py2.py3-none-any.whl (508kB)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\student\anaconda3\envs\multi\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\student\anaconda3\envs\multi\lib\site-packages (from pandas) (1.17.0)
Requirement already satisfied: six>=1.5 in c:\users\student\anaconda3\envs\multi\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-0.25.0 pytz-2019.2

In [ ]:
#파이썬 명령문은 설정된 커널을 이용해서 해석한다.
import os

os.mkdir('aa/bb')